
<button class="btn w-100 filterbord" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <div class="d-flex justify-content-between">اختر الوحدة <i class="fas fa-caret-down"></i></div>
</button>

<div class="collapse mb-3" id="collapseExample">
  <div class="card">
    <ul class="list-group text-right">
      <li type="button" class="list-group-item list-group-item-action">الوحده الاولي</li>
      <li type="button" class="list-group-item list-group-item-action">الوحدة الثانية</li>
      <li type="button" class="list-group-item list-group-item-action">الوحدة الثالثة</li>
      <li type="button" class="list-group-item">
        <button type="button" class="btn genertbutton">الخضوع لامتحان عشوائي</button>
      </li>
    </ul>
  </div>
</div>
