#reg{
  margin-top: 5.8%;
  box-sizing: border-box;
  margin-bottom: 3%;
}
.regimage{
 height: 100vh;

 background-size: cover;
 background-repeat: no-repeat;
 background-position-x: center;
}
.bgd{
  background: url('../../../assets/images/regs.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.regformimg{
  height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
 }


 .mg{
   margin-top: 7% !important;
   margin-bottom: 5%;
   /* background-color: rgba(255, 255, 255, 0.349); */
   border-radius: 10px;
 }

.subbtn{
  background-color: black;
  color: white;
  border: solid .5px black;
  transition: all .5s ease;
}
.subbtn:hover{
  background-color: white;
  color: black;
}
