<section class="" id="lsn">
  <div class="container-fluid">
  <div class="row mt-3">
    <div class="col-lg-3 text-right ml-2 mr-2 mb-3 mt-3" id="f">
      <button class="btn btn-outline-dark col-lg-3 text-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
      style="font-weight: 500;">
        <i class="fas fa-chevron-down"></i> &nbsp; عرض الدروس
  </button>
      <div class="collapse" id="collapseExample">
        <div id="accordion" class="text-right">
          <div class="card linksbg">
            <div class="card-header">
              <h5 class="mb-0">
                <button class="btn btn-link lsnlinks">
                  الدرس الاول
                </button>
              </h5>
            </div>
          </div>
          <div class="card  linksbg">
            <div class="card-header">
              <h5 class="mb-0">
                <button class="btn btn-link lsnlinks">
                 الدرس الثاني
                </button>
              </h5>
            </div>
          </div>
          <div class="card  linksbg">
            <div class="card-header">
              <h5 class="mb-0">
                <button class="btn btn-link lsnlinks" >
                  الدرس الثالث
                </button>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="accordion" class="col-lg-3 text-right dk">
      <div class="card linksbg">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link lsnlinks">
              الدرس الاول
            </button>
          </h5>
        </div>
      </div>
      <div class="card linksbg">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link lsnlinks">
              الدرس الثاني
            </button>
          </h5>
        </div>
      </div>
      <div class="card linksbg">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link lsnlinks">
              الدرس الثالث
            </button>
          </h5>
        </div>
      </div>
    </div>
    <div class="text-center col-lg-8">
      <h1>درس إعمال اسم الفاعل</h1>
    <p>هذا الفيديو تابع للمحاضرة الأولى</p>
    <div class="embed-responsive embed-responsive-16by9 mt-3">
      <div #video id="videoBody" class="embed-responsive-item">
    </div>
    </div>
    </div>
  </div>
</div>
</section>



<br>
<br>
<br>
<br>
<br>

<div class="text-center">
    <h1>درس إعمال اسم الفاعل</h1>
    <p>هذا الفيديو تابع للمحاضرة الأولى</p>
</div>
<div class="row justify-content-center  video-container">
    <div #video id="videoBody" class="video-body col-9 px-5 mx-5">
        <!-- the video is rendered here -->
    </div>
</div>
