<section id="login">
  <div class="container logimg">
    <div class="row">
      <div class="col-lg-4 text-center seting">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group text-right">
            <label>البريد الالكتروني</label>
            <input type="text" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': loginForm.get('Email').invalid && (loginForm.get('Email').touched ||loginForm.get('Email').dirty)||(submitted && loginForm.controls.Email.errors)}" />
          <div *ngIf="submitted || loginForm.controls.Email.errors" class="invalid-feedback  text-danger">
              <div *ngIf="loginForm.controls.Email.errors.required">البريد الالكتروني مطلوب</div>
              <div *ngIf="loginForm.controls.Email.errors.email">يرجي ادخال البريد الالكتروني صحيح</div>
          </div>
        </div>
        <div class="form-group text-right">
          <label>كلمة السر</label>
          <input type="password"class="form-control" />
       </div>
        <div class="text-center">
          <button class="btn subbtnlog rounded-pill" type="submit"> تسجيل الدخول &nbsp;  &nbsp; <i class="fas fa-sign-in-alt"></i></button>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
