<div class="container">
    <div class="col-lg-8 mg">
      <div class="card text-right">
        <div class="card-body">
          <div class="media text-right">
            <img src="https://randomuser.me/api/portraits/women/49.jpg" class="align-self-start ml-3" alt="...">
            <div class="media-body">
              <h1 class="m-0">مريم محمد</h1>
              <p>
                <i class="far fa-clock mt-2"></i> منذ يوم
              </p>
              <p class="mb-2">شرح ممتاز ورائع ... شكرا لك</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card text-center mt-3">
        <div class="card-body">
          <div class="input-group">
            <textarea class="form-control" aria-label="With textarea" style="height: 20vh;"></textarea>
          </div>
        </div>
        <div class="card-footer text-left removefootefct">
          <button type="button" class="btn btnaddcomment">
              اضف التعليق <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </div>
  </div>
</div>


